@model IEnumerable<app.Models.categoria>

@{
    ViewBag.Title = "Categorias";
}

<h3>Configuración general del sistemas</h3>

<hr />
<h2>Categorías de platos</h2>
<p>@Html.ActionLink("Nuevo", "Create")</p>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |                
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
